# Php & Apache

data:
  image: ubuntu
  labels:
    io.rancher.container.start_once: 'true'
  entrypoint:
    - /bin/true
  volumes:
    - /home/docker/${STACK_NAME}/html:/var/www/html
    - /home/docker/${STACK_NAME}/mysql:/var/lib/mysql
    - /home/docker/${STACK_NAME}/redis:/data # used by redis

web:
  image: php:5.6-apache
  hostname: ${web_hostname}/
  domainname: ${web_hostname}
  tty: true
  labels:
    se.andreklang.discover.domainname: ${web_hostname}
#    io.rancher.sidekicks: data, redis, phpmyadmin, mysql
  links:
    - mysql:mysql
    - redis:redis
  volumes-from:
    - data
  environment:
    REDIS_HOST: redis
    MYSQL_HOST: mysql
    MYSQL_DATABASE: ${sql_db}
    MYSQL_USER: ${sql_user}
    MYSQL_PASSWORD: ${sql_pass}

# redis
redis:
  image: redis
  volumes-from:
    - data

# phpMyAdmin
phpmyadmin:
  image: nazarpc/phpmyadmin
  environment:
    MYSQL_ROOT_PASSWORD: root
    MYSQL_HOST: mysql
  links:
    - mysql:mysql

# MySql
mysql:
  image: mariadb
  volumes-from:
    - data
  environment:
    MYSQL_ROOT_PASSWORD: "root"
    MYSQL_DATABASE: project
    MYSQL_USER: project_user
    MYSQL_PASSWORD: ThisShouldBeKindOfSecretYouKnow
